name: Test

on:
  pull_request:
    branches: ['master']

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Enable Corepack
        run: corepack enable
      
      - name: Set up Node
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: 'yarn'
      
      - name: Install dependencies
        run: yarn install --immutable
      
      - name: Run linter
        run: yarn lint
      
      - name: Run tests
        run: yarn test

